<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="maven.dao.InfoMapper">
  <resultMap id="BaseResultMap" type="maven.pojo.Info">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="gradeId" jdbcType="INTEGER" property="gradeid" />
    <result column="courseId" jdbcType="INTEGER" property="courseid" />
    <result column="period" jdbcType="VARCHAR" property="period" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="permission" jdbcType="INTEGER" property="permission" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <resultMap id="infoResultMap" type="maven.pojo.Teacherinfo">
     <id column="userId" jdbcType="INTEGER" property="id" />
    <id column="username" jdbcType="VARCHAR" property="username"/>
    <id column="money" jdbcType="DOUBLE" property="price"/>
    <id column="remark" jdbcType="VARCHAR" property="content"/>
  </resultMap>
  <select id="selectTeacher" resultMap="infoResultMap">
    SELECT info.userId,user.username,info.money,info.remark FROM info,user where user.id = info.userId and info.permission = 1 ;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Sep 02 14:34:23 CST 2019.
    -->
    delete from info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="maven.pojo.Info">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Sep 02 14:34:23 CST 2019.
    -->
    insert into info (id, userId, gradeId, 
      courseId, period, date, 
      money, permission, remark
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{gradeid,jdbcType=INTEGER}, 
      #{courseid,jdbcType=INTEGER}, #{period,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, 
      #{money,jdbcType=DOUBLE}, #{permission,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="maven.pojo.Info">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Sep 02 14:34:23 CST 2019.
    -->
    update info
    set userId = #{userid,jdbcType=INTEGER},
      gradeId = #{gradeid,jdbcType=INTEGER},
      courseId = #{courseid,jdbcType=INTEGER},
      period = #{period,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      money = #{money,jdbcType=DOUBLE},
      permission = #{permission,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  <!--
    WARNING - @mbggenerated
    This element is automatically generated by MyBatis Generator, do not modify.
    This element was generated on Mon Sep 02 14:34:23 CST 2019.
  -->
  select id, userId, gradeId, courseId, period, date, money, permission, remark
  from info
  where id = #{id,jdbcType=INTEGER}
</select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, userId, gradeId, courseId, period, date, money, permission, remark
    from info
    where userId = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Sep 02 14:34:23 CST 2019.
    -->
    select id, userId, gradeId, courseId, period, date, money, permission, remark
    from info
  </select>

  <select id="selectPermission" resultMap="BaseResultMap">
    select id, userId, gradeId, courseId, period, date, money, permission, remark
    from info where permission = 0;
  </select>
  <update id="passInfo" parameterType="java.lang.Integer">
    update info set
    permission = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="failInfo" parameterType="java.lang.Integer">
    update info set
    permission = 2
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>