
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>北京找家教_北京请家教-常青藤家教网</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content='北京找家教,北京请家教' />
    <meta name="description" content='常青藤家教网全国好的家教网，重点中小学特高级教师 、名校大学生一应俱全！一对一辅导快速提高孩子的成绩！是您找家教、请家教的不二选择' />
    <link rel="stylesheet" type="text/css" href="http://www.jiajiao400.com/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="http://www.jiajiao400.com/css2014/jiajiao400_layout.css" />
    <link rel="stylesheet" type="text/css" href="http://www.jiajiao400.com/css/ui-lightness/jquery-ui-1.8.7.custom.css">
    <link rel="shortcut icon" href="http://www.jiajiao400.com/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://www.jiajiao400.com/css/form.css">
    <script type="text/javascript" src="http://www.jiajiao400.com/js/base.js"></script>
    <script type="text/javascript" src="http://www.jiajiao400.com/js/admin.js"></script>
    <script type="text/javascript" src="http://www.jiajiao400.com/js/jcarousellite_1.0.1.js"></script>
    <script type="text/javascript" src="http://www.jiajiao400.com/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http://www.jiajiao400.com/js/jquery.LoadImage.js"></script>
    <link href="http://www.jiajiao400.com/css/zzsc.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18175558-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script  type="text/javascript">
        var _bdhm_top = 0;
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        var _bdhm_tim = new Image(1,1);
        _bdhm_tim.id = "bdhmPerimg";
        _bdhm_tim.src = _bdhmProtocol + "hm.baidu.com/_tt.gif?si=39af567ee873406fd32bd45cac528457&rnd=" + Math.round(Math.random()*2147483647);
        _bdhm_tim.onload=function(){_bdhm_top = 1;}
    </script>

    <style>
        .test1{width: 58px;height: 58px;}
        .test{width: 58px;height: 58px;}
    </style>
    <script type="text/javascript" src="http://www.jiajiao400.com/js/admin2.js"></script>
    <script type="text/javascript" src="http://www.jiajiao400.com/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http://www.jiajiao400.com/js/jquery-ui-1.8.7.custom.min.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18175558-1']);
        _gaq.push(['_addOrganic', 'm.baidu', 'word']);
        _gaq.push(['_addOrganic', 'wap.baidu', 'word']);
        _gaq.push(['_addOrganic', 'baidu.mobi', 'word']);
        _gaq.push(['_addOrganic', 'image.baidu', 'word']);
        _gaq.push(['_addOrganic', 'baidu', 'wd']);
        _gaq.push(['_addOrganic', 'baidu', 'word']);
        _gaq.push(['_addOrganic', 'baidu', 'kw']);
        _gaq.push(['_addOrganic', 'baidu', 'q1']);
        _gaq.push(['_addOrganic', 'baidu', 'q2']);
        _gaq.push(['_addOrganic', 'baidu', 'q3']);
        _gaq.push(['_addOrganic', 'baidu', 'q4']);
        _gaq.push(['_addOrganic', 'baidu', 'q5']);
        _gaq.push(['_addOrganic', 'baidu', 'q6']);
        _gaq.push(['_addOrganic', 'image.soso', 'w']);
        _gaq.push(['_addOrganic', 'wap.soso', 'key']);
        _gaq.push(['_addOrganic', 'soso', 'w']);
        _gaq.push(['_addOrganic', 'bing', 'q']);
        _gaq.push(['_addOrganic', 'youdao', 'q']);
        _gaq.push(['_addOrganic', 'so.360', 'q']);
        _gaq.push(['_addOrganic', 'so', 'q']);
        _gaq.push(['_addOrganic', '360', 'q']);
        _gaq.push(['_addOrganic', 'image.so', 'q']);
        _gaq.push(['_addOrganic', 'pic.sogou', 'query']);
        _gaq.push(['_addOrganic', 'wap.sogou', 'keyword']);
        _gaq.push(['_addOrganic', 'm.sogou', 'keyword']);
        _gaq.push(['_addOrganic', 'sogou', 'query']);
        _gaq.push(['_setDomainName', 'jiajiao400.com']);
        _gaq.push(['_trackPageview']);

        (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
    </script>
    <!-- <script type="text/javascript" src="http://www.jiajiao400.com/js/firebug-lite/build/firebug-lite-debug.js"></script>-->

</head>
<body>
<script type="text/javascript" src="http://www.jiajiao400.com/js/admin.js"></script>
<div class="toolbar">
    <div class="tbbox clearfix">
        <div class="site_r fr"><div class="login-panel fl"><span class="welcome">客服电话：<span class="red">400-966-0501</span>（接听时间：工作日早9点至晚6点）</span><a href="/bj/users/login" rel="nofollow" class="green">用户登录</a><span class="line">|</span><span class="green"><a href="/bj/student/register1" rel="nofollow" class="green">我要请家教</a><span class="line">-</span><a href="/bj/users/register" rel="nofollow" class="green">我要做家教</a></span></div></div>
    </div>
    <!--tbbox end-->
</div>
<!--toolbar end-->
<div id="header">
    <div class="hbox">
        <span class="logo fl"><a href="/bj/"><img src="http://www.jiajiao400.com/images2014/logo.png" alt="常青藤家教网"></a></span>
        <!--city end-->
        <script type="text/javascript">cityhover('#city_on','#citylist');</script>
    </div>
    <!--header-top end-->
</div>
<!--#header end-->
<div class="clear"></div>
<div id="content">
    <div class="flow-steps mb">
        <ol class="num1">
            <li><span class="first">我要请家教</span></li>
        </ol>
    </div>

    <!--w250 end-->
    <div class="w700 fl">
        <div class="reg_right">


            <ul class="pa-process clearfix">
                <li>免费注册信息<br />&nbsp;</li>
                <li class="jt"></li>
                <li>直接查看家教电话<br />或发布招聘信息</li>
                <li class="jt"></li>
                <li>直接和老师联系辅导事宜<br />（可查看或联系多位老师）</li>
                <li class="jt"></li>
                <li>在线点评家教<br />&nbsp;</li>
            </ul>

            <div class="pa-tips"><strong>注册您的信息：</strong> <span class="#ff0000">*为必填项</span></div>
            <input type="hidden" id="user_id" value="" />
            <input type="hidden" id="type" value="" />
            <form id="form_studentregister" name="form_studentregister" action="/register" method="post" enctype="application/x-www-form-urlencoded"  >
                <ul class="elem_form">
                    <input type="hidden"  id="taken" name="taken" value="e74d3f932663d215b9fe235379a17891" />
                    <li id="li_call_name"><span class="label_like">										<font color="red">*</font> 用户名：					</span>
                        <input type="text"  id="reg_call_name" name="username" maxlength="20" class="input_1" />
                        <span class="tips-box" style="display:none"><p>如王女士</p></span>
                    </li>
                    <li id="li_name"><span class="label_like">										<font color="red">*</font> 真实姓名：					</span>
                        <input type="text"  id="reg_name" name="name" maxlength="20" class="input_1" />
                        <span class="tips-box" style="display:none"><p>如王女士</p></span>
                    </li>
                    <li id="li_telephone"><span class="label_like">										<font color="red">*</font> 您的手机：					</span>
                        <input type="text"  id="reg_telephone" name="phone" maxlength="15" class="input_1" />
                        <br />
                        <span class="tips-box" style="display:none"><p>手机号码是您登录常青藤的账户名</p></span>
                    </li>

                    <li id="li_password"><span class="label_like">										<font color="red">*</font> 密码设置：					</span>
                        <input type="password"  id="reg_password" name="password" maxlength="20" class="input_1" />
                        <span class="tips-box" style="display:none"><p>6位数字或字母方便下次登录</p></span>
                    </li>
                    <li id="li_address"><span class="label_like">										<font color="red">*</font> 您的邮箱：					</span>
                        <input type="text"  id="reg_address" name="email" maxlength="100" class="input_1" />
                        <span class="tips-box" style="display:none"><p>方便使用邮箱为您发送家教信息</p></span>
                    </li>
                    <li id="li_identity"><span class="label_like">
                        <font color="red">*</font> 您的身份：					</span>
                    <input type="radio" name="typeid"  value="1" />家长/学员<input type="radio" name="typeid"  value="2" />家教机构						            																 <span class="tips-box" style="display:none"><p>请务必准确填写</p></span>
                </li>
                    <li>
                        <p class="xy"><input type="checkbox" class="vm" value=""  checked="checked" name=""><a class="blue" href="http://www.jiajiao400.com/help/agreement" target="_blank" >同意使用协议</a></p>
                    </li>
                    <li class="container_btn">
                        <div style='float:left'>
                            <button type="submit" class="input_btn2" onclick='sregsload()'>注 册</button>
                        </div>
                        <div style='float:left;display:none'id='sregs'>
                            <img alt='正在提交' src="http://www.jiajiao400.com/images/loading.gif"style='margin-top:4px'>
                        </div>
                    </li>
                </ul>
            </form>
            <br><br>
        </div>
        <!--reg_right end-->
        <div class="clear"></div>
        <div class="index_bg w700" style="margin-top: 20px;">
            <!--  <div class="v2-green-box2 mb" id="tab_box">
             <div class="titlebar mb">
               <div class="tit-h" id="tab_links">
               <ul class="clearfix">
                   <li class="hover"><a href="javascript:void(0)">在职教师</a></li>
                   <li><a href="javascript:void(0)">大学生家教</a></li>
                   <li><a href="javascript:void(0)">专职家教</a></li>
                   <li><a href="javascript:void(0)">教育机构教师</a></li>
               </ul>
               </div>
               <a class="more" href="/bj/jiajiao/"  target="_blank" rel="nofollow">查看更多&gt;&gt;</a>
             </div>
             <div class="col-detail" style="display:block;">
                 <ul class="zj_info">

               </ul>
             </div>

             <div class="col-detail" style="display:none;">
                 <ul class="zj_info">
                           </ul>
             </div>

             <div class="col-detail" style="display:none;">
                 <ul class="zj_info">
                           </ul>
             </div>

             <div class="col-detail" style="display:none;">
                 <ul class="zj_info">
                           </ul>
             </div>
           </div>-->
        </div>
    </div>
    <!--w700 end-->

    <div class="w250 fl ml">
        <img src="http://www.jiajiao400.com/images/reg_right.png">

        <div class="clear"></div>

        <!--      <div class="v2-green-box3 mt">
              <div class="titlebar mb">
                <h2 class="tit-h"><em class="icon_s"></em>最新接洽记录</h2>
              </div>
              <div class="col-detail">
                  <ul class="new_list2">

                </ul>
              </div>
            </div> -->
        <!--v2-green-box2 end-->
        <div class="clear"></div>
        <div class="v2-green-box3">
            <div class="titlebar mb">
                <h2 class="tit-h"><em class="icon_s"></em>简介</h2>
            </div>
            <div class="col-detail">
                <ul class="new_list2">
                    全国好的家教网，重点中小学特高级教师 、名校大学生一应俱全！一对一辅导快速提高孩子的成绩！是您<strong>找家教</strong>、<strong>请家教</strong>的好网站！
                </ul>
            </div>
        </div>
        <!--v2-green-box2 end-->
        <script type="text/javascript">click_tab('#tab_box','div.col-detail','#tab_links','li');</script>
    </div>
    <div class="clear"></div>
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F39af567ee873406fd32bd45cac528457' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <style>
        .selected{background:#FCEFE3;}
    </style>
    <script type="text/javascript" src="http://www.jiajiao400.com/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript">
        $("#show_email").live("click",function(){
            $("#li_telephone").hide();
            $("#li_email").show();
            $("#reg_telephone").val("");
        });
        $("#show_phone").live("click",function(){
            $("#li_telephone").show();
            $("#li_email").hide();
            $("#reg_email").val("");
        });
        function sregsload()
        {
            $('#sregs').show();
        }
        function changeState(){
            var values=0;
            var getChkboxs=document.getElementsByName("selected_subjects[]");
            for (var i=0;i<getChkboxs.length;i++){
                if (getChkboxs[i].checked){
                    values+=","+getChkboxs[i].value;
                }
            }
            if (values==0) {
                $("#li_subjectids").addClass("selected");
                alert("请选择教育阶段和您要补习的科目!");
                return false;
            }
            return true;
        }
        $(function () {
            if($("#reg_email").val().length==0){
                $("#li_email").hide();
            }else{
                $("#li_telephone").hide();
                $("#li_email").show();
            }
            // 设置补习科目和选中科目宽度
            $("#reg_call_name").click(function(){
                $("#li_call_name [class='tips-box']").show();
            });
            $("#reg_call_name").focus(function(){
                $("#li_call_name [class='tips-box']").show();
            });
            $("#reg_call_name").blur(function(){
                $("#li_call_name [class='tips-box']").hide();
            });
            $("#reg_telephone").click(function(){
                $("#li_telephone [class='tips-box']").show();
            });
            $("#reg_telephone").focus(function(){
                $("#li_telephone [class='tips-box']").show();
            });
            $("#reg_telephone").blur(function(){
                $("#li_telephone [class='tips-box']").hide();
            });
            $("#reg_email").click(function(){
                $("#li_email [class='tips-box']").show();
            });
            $("#reg_email").focus(function(){
                $("#li_email [class='tips-box']").show();
            });
            $("#reg_email").blur(function(){
                $("#li_email [class='tips-box']").hide();
            });
            $("#reg_password").click(function(){
                $("#li_password [class='tips-box']").show();
            });
            $("#reg_password").focus(function(){
                $("#li_password [class='tips-box']").show();
            });
            $("#reg_password").blur(function(){
                $("#li_password [class='tips-box']").hide();
            });
            $("#reg_repassword").click(function(){
                $("#li_repassword [class='tips-box']").show();
            });
            $("#reg_repassword").focus(function(){
                $("#li_repassword [class='tips-box']").show();
            });
            $("#reg_repassword").blur(function(){
                $("#li_repassword [class='tips-box']").hide();
            });
            $("#reg_address").click(function(){
                $("#li_address [class='tips-box']").show();
            });
            $("#reg_address").focus(function(){
                $("#li_address [class='tips-box']").show();
            });
            $("#reg_address").blur(function(){
                $("#li_address [class='tips-box']").hide();
            });
            $("#reg_huifangtime").click(function(){
                $("#li_huifangtime [class='tips-box']").show();
            });
            $("#reg_huifangtime").focus(function(){
                $("#li_huifangtime [class='tips-box']").show();
            });
            $("#reg_huifangtime").blur(function(){
                $("#li_huifangtime [class='tips-box']").hide();
            });
            $("#reg_identity").click(function(){
                $("#li_identity [class='tips-box']").show();
            });
            $("#reg_identity").focus(function(){
                $("#li_identity [class='tips-box']").show();
            });
            $("#reg_identity").blur(function(){
                $("#li_identity [class='tips-box']").hide();
            });
            $('#randcode').click(function(){$("#validate_code").attr("src","/bj/users/imgcode?rand="+ Math.floor(Math.random()*99999));});
            $('#validate_code').click(function(){$("#validate_code").attr("src","/bj/users/imgcode?rand="+ Math.floor(Math.random()*99999));});
            $('#subjects, #selected_subjects').width(150);
            // 选取操作
            $("#subject_sel input[name='selected_subjects[]']").live('click',function(){
                var num = 0;
                $("#subject_sel input[name='selected_subjects[]']").each(function () {
                    if ($(this).attr('checked')) {
                        if (++num > 3) {
                            alert("最多能选3个");
                            $(this).attr('checked', '')
                            return false;
                        }
                    }
                });
            });
            $('#reg_subjectids').change(function(){
                var category_id = $(this).children('option:selected').val();
                var url =  "/bj/experts/getsubject?category_id="+category_id;

                $.getJSON("/bj/experts/getsubject",{category_id: category_id},function(data){
                    var html = '<ul style=\'list-style:none; width:300px;\'>';
                    $.each(data, function (k, v) {
                        html +='<span style=\'float:left;width:140px;\'><input type=\'checkbox\' id='+v.id+' name=\'selected_subjects[]\' value='+v.id+' /><label for='+v.id+'>'+v.name+'</label></span>'
                    });
                    html +='</ul>';
                    $('#subject_sel').html(html);
                    $('#subject_sel').css('display','block');
                });
            });

        });
        $(document).ready(function(){
            $(".test1").LoadImage(true,58,58,"loading.gif");
        })
    </script>
    <div class="clear"></div>
    <div style="display:none">
    </div>
</div>
<!--#content end-->
<div class="clear"></div>

<div id="footer">
    <div class="fbox mt15">
        <div class="links">
            <a href="http://www.jiajiao400.com/help/about" rel="nofollow" target="_blank">关于我们</a> | <a href="http://www.jiajiao400.com/help/agreement" rel="nofollow" target="_blank">使用协议</a> | <a href="http://www.jiajiao400.com/help/contact" rel="nofollow" target="_blank">联系我们</a> | <a href="http://www.jiajiao400.com/help/job" rel="nofollow" target="_blank">招贤纳士</a> | <a href="http://www.jiajiao400.com/help/sitemap" target="_blank">站点地图</a> | <a href="http://www.jiajiao400.com/" target="_blank">常青藤</a><a href="http://www.jiajiao400.com/" target="_blank">家教网</a>| <a href="http://www.jiajiao400.com/xueke/" target="_blank">学科</a></div>
        <div class="copyright">Copyright @ 2014-2015 常青藤 All Rights Reserved 京ICP备11015892号 联系我们：service@jiajiao400.com</div>
        <div class="pimg">
            <img src="http://www.jiajiao400.com/images/foot1.png" width="120" height="50" border="0" alt="北京网络警察报警平台" style="border:1px solid #cccccc;">   <img src="http://www.jiajiao400.com/images/foot2.png" width="120" height="50" style="border:1px solid #cccccc;margin:0 10px;" alt="公共信息安全网络监察"> <img src="http://www.jiajiao400.com/images/foot4.png" width="120" height="50" border="0" style="border:1px solid #cccccc;" alt="不良信息举报中心">
        </div>
    </div>
</div>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18175558-1']);
    _gaq.push(['_addOrganic', 'm.baidu', 'word']);
    _gaq.push(['_addOrganic', 'wap.baidu', 'word']);
    _gaq.push(['_addOrganic', 'baidu.mobi', 'word']);
    _gaq.push(['_addOrganic', 'image.baidu', 'word']);
    _gaq.push(['_addOrganic', 'baidu', 'wd']);
    _gaq.push(['_addOrganic', 'baidu', 'word']);
    _gaq.push(['_addOrganic', 'baidu', 'kw']);
    _gaq.push(['_addOrganic', 'baidu', 'q1']);
    _gaq.push(['_addOrganic', 'baidu', 'q2']);
    _gaq.push(['_addOrganic', 'baidu', 'q3']);
    _gaq.push(['_addOrganic', 'baidu', 'q4']);
    _gaq.push(['_addOrganic', 'baidu', 'q5']);
    _gaq.push(['_addOrganic', 'baidu', 'q6']);
    _gaq.push(['_addOrganic', 'image.soso', 'w']);
    _gaq.push(['_addOrganic', 'wap.soso', 'key']);
    _gaq.push(['_addOrganic', 'soso', 'w']);
    _gaq.push(['_addOrganic', 'bing', 'q']);
    _gaq.push(['_addOrganic', 'youdao', 'q']);
    _gaq.push(['_addOrganic', 'so.360', 'q']);
    _gaq.push(['_addOrganic', 'so', 'q']);
    _gaq.push(['_addOrganic', '360', 'q']);
    _gaq.push(['_addOrganic', 'image.so', 'q']);
    _gaq.push(['_addOrganic', 'pic.sogou', 'query']);
    _gaq.push(['_addOrganic', 'wap.sogou', 'keyword']);
    _gaq.push(['_addOrganic', 'm.sogou', 'keyword']);
    _gaq.push(['_addOrganic', 'sogou', 'query']);
    _gaq.push(['_setDomainName', 'jiajiao400.com']);
    _gaq.push(['_trackPageview']);

    (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
</script>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?39af567ee873406fd32bd45cac528457";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>


<script type="text/javascript">
    (function() {
        var uls = document.getElementsByTagName('ul');
        var tabs = [];
        for	(var i=0; i<uls.length; i++) {
            if (uls[i].className == 'tabs')
            {
                var li = uls[i].getElementsByTagName('li');
                for (var n=0; n<li.length ;n++ )
                {
                    if (li[n].className != 'no')
                    {
                        tabs.push(li[n]);
                    }

                }
            }
        }
        //alert(tabs.length);
        if (tabs.length > 0)
        {
            for (var m=0; m<tabs.length ;m++ )
            {
                switchTab(tabs[m]);
            }
        }
        function switchTab(ele) {
            ele.onclick = function() {
                var lis = this.parentNode.getElementsByTagName('li');
                //	alert(lis.length);
                for (var k=0; k<lis.length ;k++ )
                {
                    lis[k].className = '';
                }
                ele.className = 'on';
            }
        }
    })();

    function delMessage(){
        $("#msg").fadeOut("2000");
    }
    $(function () {
        $('#student_reserveme, #student_profiles, #student_profilesright').click(function () {
            var th = $(this);
            $('#global_showbox').dialog({
                bgiframe: true,
                modal: true,
                width: 450,
                height: 520,
                open: function () {
                    $('#global_showbox').html('<iframe src="'+th.attr('href')+'" frameborder="0" width="100%" height="450" scrolling="no" marginheight="0" marginwidth="0"></iframe>');
                }
            });
            return false;
        });
    });
</script>

<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F39af567ee873406fd32bd45cac528457' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
